.project-boxX {
  width: 300px;
  height: 280px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.icon-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.project-icon {
  font-size: 48px;
  color: #333;
  transition: color 0.3s;
  margin-right: 15px;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
  transition: color 0.3s;
}

.project-description {
  font-size: 14px;
  color: #000;
  margin: 10px 0;
  text-align: center;
}

.details-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.project-date,
.team-members {
  font-size: 12px;
  color: #000;
  margin: 5px 0;
  text-align: center;
}

.avatars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.avatar {
  font-size: 24px;
}

.project-boxX:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-boxX.selected {
  background: rgba(0, 123, 255, 0.3);
  border: 2px solid rgba(0, 93, 179, 0.6);
}

.project-boxX.selected .project-icon {
  color: #fff;
}

.project-boxX.selected .project-title,
.project-boxX.selected .project-description,
.project-boxX.selected .project-date,
.project-boxX.selected .team-members {
  color: #fff;
}
